[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
scipy = "*"
plyfile = "*"
rdflib = "*"
pandas = "*"

[dev-packages]
neovim = "*"
mypy = "*"
pylint = "*"
"flake8" = "*"
ipython = "*"
yapf = "*"
autopep8 = "*"
jedi = "*"
torch-geometric = "*"
python-language-server = "*"
unknown = {editable = true,path = "."}
tf-nightly-2-0-preview = "*"
matplotlib = "*"
pygraphviz = "*"
opencv-python = "*"
opencv-contrib-python = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
